<html>
<head>
<title>Naked Java Appointments</title>

<link
	href="bootstrap.min.css"
	rel="stylesheet"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h4>Appointments</h4>
				<div class="panel panel-default">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Description</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<!--  Iterate Appointment objects provided by the controller -->
							<tr th:each="appointment : ${allAppointments}">
								<td th:text="${appointment.description}"></td>
								<td th:text="${appointment.date}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h4>Create appointment</h4>
				<div class="panel panel-default">
					<div class="panel-body">
						<!-- Data to POST to controller -->
						<form class="form-horizontal" action="#"
							th:action="@{/appointments/create}" th:object="${appointment}"
							method="post">
							<div class="form-group">
								<label for="date" class="col-sm-3 control-label">Date</label>
								<div class="col-sm-9">
									<input type="date" class="form-control" id="date" name="date"
										th:field="*{date}"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-3 control-label">Description</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="description"
										name="description" th:field="*{description}"></input>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12 text-right">
									<button type="submit"
										class="btn btn-default preview-add-button">
										<span class="glyphicon glyphicon-plus"></span> Create
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
